/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}


$violet: #322955;
$roboto: 'Roboto', sans-serif;
$play: 'Playfair Display', serif;
$grey: #413d4b;
$white: '#FFFFFF';
.box-shadow-menu { //menu hamb
  position: relative;
	  &:before {
		  content: "";
		  position: absolute;
		  left: 0;
		  top: 0.48em;
		  width: 2em;
		  height: 0.35em;
		  background: white;
		  box-shadow: 
		    0 0.6em 0 0 white, //reguluje wielkość 
		    0 1.2em 0 0 white;
	}
}
html {
	font-size: 62.5%;
}

body {

	a {
		font-size: 1.5rem;
		font-family: $roboto;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
	&:hover {
		text-decoration: underline;
		}
	}

	
	header {
			width: 100%;
			height: 76px;
			position: fixed;
			border-bottom: 4px solid white;
			z-index: 100;
			background-color: $violet;
			

			h1 { //logo strony tekstowe
					position: relative;
					margin-left: 60px;
					bottom: 45px;
					text-transform: none;
					font-size: 3.0rem;
					font-family: $roboto;
					color: #2497A3;
				}
			#logo { //logo obrazkowe
				margin-top: 16px;
				float: left;
				height: 40px;
				display: block;
				background-image: url("img/logo.png")
				}
			}
}

nav {
	float: right;
	padding: 20px;
}
#menu-icon {
	display: none;
}
a:hover#menu-icon {
	background-color: #444;
	border-radius: 4px 4px 0 0;
}
nav ul {
	list-style: none;

}
nav li {
	display: inline-block;
	float: left;
	padding: 10px;
}
.current {
	color: #2262AD; // zmienia kolor 
}
section {
	margin: 80px auto 40px;
	max-width: 980px;
	position: relative;
	padding: 20px;
}


@media only screen and (max-width : 740px) {

	header {
		position: absolute;
	}
	#menu-icon {
		display:inline-block;
		bottom: 20px;
		right: 20px;
		width: 40px;
		height: 40px;
		position: absolute;
	}
	nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 20px;
		right: 0px;
		top: 80px;
		width: 100%;
		background-color: $violet;
	}
	nav ul a {
		color: white;
	}
/* ustawienie listy */
	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

/*	nav:hover ul {
		display: block;
	} */
}/* koniec nav */
.open {
	display: block;
}
.intro {
	color: white;
	background: url("../img/bg-1.jpg") no-repeat ;
	display: flex;
	justify-content: center;
	flex-direction: column;


 	h2 {
 		font-size: 3.2rem;
		margin-left: auto;
		margin-right: auto;
		display: inline-block;
		margin-top: 120px;
		font-family: $play;
		line-height: 3.9rem;
	
	
	 	}
	 p {
	 	margin-top: 61px;
	 	font-family: $roboto;
	 	font-size: 1.7rem;
	 	line-height: 2.4rem;
	 	max-width: 90rem;
	 	margin-left: auto;
		margin-right: auto;
	 }
	button {
		text-align: center;
		margin-top: 30px;
		margin-bottom: 225px;
	}
}

hr {
	width: 30%;
	color: #00e0d0;
}

.ourstory {
	background-color: white;
	padding: 20px;
	padding-top: 7.2rem;
	padding-bottom: 7.2rem;
	display: flex;
	h2 {
		font-size: 2.2rem;
		font-family: $play;
		color: black;

	
	}
	p {
		font-size: 1.7rem;
		font-family: $roboto;
		line-height: 2.4rem;
		color: $grey;
		margin-top: 20px;

	}
}
.whatwedo {
	margin-bottom: 30px;
	box-sizing: content-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center; 
	align-content: flex-start; //pozycjonuje divy
	text-align: center; //wyrównuje text w divach
	article {
		border: solid 2px lightblue;
		width: 225px;
		padding: 12px;
		margin: 10px;

	}
		h2 {
		font-family: $roboto;
		font-size: 1.4rem;
		font-weight: bold;
		margin-bottom: 2.2rem;

} 
 		p {
 	font-family: $roboto;
 	font-size: 1.4rem;
 	line-height: 2.2rem;
 	margin-bottom: 30px;
 }
}

.awesome-picture {
	max-width: 220px;
	max-height: 220px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}
.row {

	
	display: flex;

}
.col-md-6 {
	width: 50%;
	
}
.video {
	background-color: red;
	background-image: url("../img/nj.jpg");
	background-repeat: no-repeat;
	height: 550px;
	display: flex;
	align-items: center;
	justify-content: center;
	.center-video {
		max-width: 50%;

	.circle {

	    //background: white;
	    width: 100px;
	    height: 100px;
	    border-radius: 50%;
	    -moz-border-radius: 50%;
	    -webkit-border-radius: 50%;
	  	 border: solid white 5px;
	  	 box-sizing: border-box;
	  	 		&:hover {
	  	 			
					box-shadow: 3px 3px 1px black;

	  	 		}
	.video-triangle {
		font-size: 60px;
		color: white;
		position: relative;
		top: 15px;
		left: 20px;
			&:hover {
				color: salmon;
			}
			} 
		}
	}
}
.expertise {
	text-align: center;
	h2{
		font-family: $play;
		font-weight: bold;
		font-size: 2.2rem;
		color: black;
		text-transform: uppercase;
		margin-top: 120px;
		display: inline-block;
	}
	h3 {
		font-size: 1.4rem;
		margin: 20px;
		color: lighten($violet, 10%);
	}
}
@media (max-width: 700px){
	.row {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	.col-md-6 {
		width: 100%;
	}
}
@media (max-width: 900px){
#logo {
	margin-left: 0;
	}
}


@media only screen and (min-width : 320px) {
        .container {
				margin-left: 5%;
				margin-right: 5%;
				}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
.container {
				margin-left: 10%;
				margin-right: 10%;
				}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
.container {
				margin-left: 12%;
				margin-right: 12%;
				}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
.container {
				margin-left: 14%;
				margin-right: 14%;
				}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
.container {
				margin-left: 15%;
				margin-right: 15%;
				}
    }
.team {
	text-align: center;
	h2{
		font-family: $play;
		font-weight: bold;
		font-size: 2.2rem;
		color: white;
		text-transform: uppercase;
		margin-top: 80px;
		display: inline-block;
	}
	h3 {
		font-size: 1.4rem;
		margin: 20px;
		color: #FFFFFF;
		
}
}
.team-wrap {
		flex-direction: row;
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
}
.team-bg {
		background-image: url("../img/bg-2.jpg");
		//background-repeat: repeat-y;
		//background-color: red;
	//	height: 712px;
		text-align: center;
	.cta {
			font-family: $roboto;
			color: white;
			font-size: 1.4rem;
			text-align: center;
			margin-top: 70px;

	}
button {
	margin-top: 30px;
}
}
.team-member {//opakowanie na
		width: 220px;
		height: 280px;
		border: solid #a09fa9 1px;
		margin-bottom: 10px;
		margin: 10px;
		text-align: center;
	h2 {
		color: white;
		font-family: $roboto;
		font-size: 1.4rem;
		font-weight: bold;
		text-transform: uppercase;
		display: inline-block;
		margin-top: 10px;

	}
	h3 {
		color: #a09fa9;
		font-family: $roboto;
		font-size: 1.3rem;
		margin-top: 10px;

	}
		.foto {
			background-color: white;
			width: 220px;
			height: 220px;
		}
}
.btn {
	padding: 15px;
	border: 2px #00e0d0 solid;
	border-radius: 2px;
	font-family: Arial;
	text-transform: uppercase;
	color: #00E0D0;
	font-size: 1.6rem;
	display: inline-block;
	margin-top: 2.0rem;
	margin-bottom: 7.0rem;
	background-color: transparent;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;


&:hover {
	border: 2px salmon solid;
	color: salmon;
	font-weight: bold;
	box-sizing: border-box;
	box-shadow: 0px 3px 1px black;
	cursor: pointer;


}
}
.works {
	text-align: center;
}
.works p{
	font-family: $play;
	font-size: 2.2rem;
	font-weight: bold;
	margin-top: 70px;
	margin-bottom: 70px;
	display: inline-block;

}
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.image {
		width: 270px;
		height: 200px;
		background-color: salmon;
		margin: 5px;
	}
	.image2 {
		background-color: lightblue;
		width: 270px;
		height: 200px;
		margin: 5px;
	}
}	.image3 {
		background-color: green;
		width: 270px;
		height: 200px;
		margin: 5px;

}
.testimonials {
	background: url("../img/bg-3.jpg") no-repeat;
	background-position: center fixed;
	text-align: center;
	font-size: 1.6rem;
	font-family: $play;
	line-height: 30px;
	color: white;
	padding-top: 140px;
		h2 {
			font-family: $roboto;
			font-size: 1.6rem;
			text-transform: uppercase;
		}
		h3 {
			color: lighten($violet, 50%);
			text-transform: uppercase;
		}
}

.inputs
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	h2 {
		font-family: $play;
		font-size: 2.2rem;
	
		margin-bottom: 50px;
		

	}
}

.inputs > div {
	width: 40%;
	display: flex;
	justify-content: center;
	flex-direction: column;

}
form input {
	margin-top: 20px;
	height: 30px;
}

.clients {
	font-size: 1.7rem;

}
.clients li {
	margin-top: 20px;
}
.our_clients ul li {
	padding: 20px;
	background-color: salmon;
}