@charset "UTF-8";
/*RESET*/
/* line 2, ../sass/screen.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 2, ../sass/screen.scss */
body {
  line-height: 1;
}

/* line 2, ../sass/screen.scss */
ol, ul {
  list-style: none;
}

/* line 2, ../sass/screen.scss */
blockquote, q {
  quotes: none;
}

/* line 2, ../sass/screen.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 2, ../sass/screen.scss */
:focus {
  outline: 0;
}

/* line 2, ../sass/screen.scss */
ins {
  text-decoration: none;
}

/* line 2, ../sass/screen.scss */
del {
  text-decoration: line-through;
}

/* line 2, ../sass/screen.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*wszystkie elementy maj─ů border-box */
/* line 12, ../sass/screen.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/screen.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 24, ../sass/screen.scss */
.box-shadow-menu {
  position: relative;
}
/* line 26, ../sass/screen.scss */
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.48em;
  width: 2em;
  height: 0.35em;
  background: #FFFFFF;
  box-shadow: 0 0.6em 0 0 #FFFFFF, 0 1.2em 0 0 #FFFFFF;
}

/* line 39, ../sass/screen.scss */
html {
  font-size: 62.5%;
}

/* line 42, ../sass/screen.scss */
p {
  font: 1.6rem "Roboto", sans-serif;
  line-height: 2.4rem;
}

/* line 46, ../sass/screen.scss */
h2 {
  font: bold 2.2rem "Playfair Display", serif;
}

/* line 51, ../sass/screen.scss */
body a {
  font-size: 1.5rem;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 56, ../sass/screen.scss */
body a:hover {
  text-decoration: underline;
}
/* line 60, ../sass/screen.scss */
body header {
  width: 100%;
  height: 76px;
  position: fixed;
  border-bottom: 4px solid #2497A3;
  z-index: 100;
  background-color: #322955;
}
/* line 67, ../sass/screen.scss */
body header h1 {
  position: relative;
  margin-left: 60px;
  bottom: 45px;
  text-transform: none;
  font: 3rem "Roboto", sans-serif;
  color: #2497A3;
}
/* line 75, ../sass/screen.scss */
body header #logo {
  margin-top: 16px;
  float: left;
  height: 40px;
  display: block;
  background-image: url("img/logo.png");
}

/* line 85, ../sass/screen.scss */
nav {
  float: right;
  padding: 20px;
}

/* line 89, ../sass/screen.scss */
#menu-icon {
  display: none;
}

/* line 92, ../sass/screen.scss */
a:hover#menu-icon {
  background-color: #444;
  border-radius: 4px 4px 0 0;
}

/* line 97, ../sass/screen.scss */
nav ul {
  list-style: none;
  font-weight: 700;
}
/* line 101, ../sass/screen.scss */
nav li {
  display: inline-block;
  float: left;
  padding: 10px;
}

/* line 107, ../sass/screen.scss */
.current {
  color: #2497A3;
}

/* line 111, ../sass/screen.scss */
.open {
  display: block;
}

/* line 114, ../sass/screen.scss */
.intro {
  color: #FFFFFF;
  background: url("../img/bg-1.jpg") no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 120px 5% 0;
}
/* line 122, ../sass/screen.scss */
.intro h2 {
  margin: 0 auto;
  display: inline-block;
  line-height: 3.9rem;
  font-family: "Playfair Display", serif 3.2rem;
}
/* line 128, ../sass/screen.scss */
.intro p {
  line-height: 2.4rem;
  max-width: 90rem;
  margin: 61px auto 0;
}
/* line 134, ../sass/screen.scss */
.intro button {
  text-align: center;
  margin-top: 30px;
}

/* line 140, ../sass/screen.scss */
hr {
  width: 30%;
  color: #2497A3;
}

/* line 145, ../sass/screen.scss */
.ourstory {
  background-color: #FFFFFF;
  display: flex;
  padding: 5.5rem 5% 0;
}
/* line 150, ../sass/screen.scss */
.ourstory h2 {
  font-family: "Playfair Display", serif;
  color: black;
  margin: 0 auto;
}
/* line 156, ../sass/screen.scss */
.ourstory p {
  color: #413d4b;
  margin-top: 20px;
}
/* line 162, ../sass/screen.scss */
.ourstory img {
  width: 50%;
  height: auto;
  margin-bottom: 40px;
}

/* line 169, ../sass/screen.scss */
.whatwedo {
  margin-bottom: 30px;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  text-align: center;
}
/* line 178, ../sass/screen.scss */
.whatwedo article {
  border: solid 2px lightblue;
  max-width: 225px;
  padding: 12px;
  margin: 10px;
}
/* line 185, ../sass/screen.scss */
.whatwedo h2 {
  font: bold 1.4rem "Roboto", sans-serif;
  margin-bottom: 2.2rem;
}
/* line 190, ../sass/screen.scss */
.whatwedo p {
  margin-bottom: 30px;
}

/* line 196, ../sass/screen.scss */
.awesome-picture {
  max-width: 220px;
  max-height: 220px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 205, ../sass/screen.scss */
.col-md-6 {
  width: 50%;
}

/* line 209, ../sass/screen.scss */
.video {
  background-color: red;
  background-image: url("../img/nj.jpg");
  background-repeat: no-repeat;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 217, ../sass/screen.scss */
.video .center-video {
  max-width: 50%;
}
/* line 220, ../sass/screen.scss */
.video .center-video .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: solid white 5px;
  box-sizing: border-box;
}
/* line 230, ../sass/screen.scss */
.video .center-video .circle:hover {
  box-shadow: 3px 3px 1px black;
}
/* line 235, ../sass/screen.scss */
.video .center-video .circle .video-triangle {
  font-size: 60px;
  color: #FFFFFF;
  position: relative;
  top: 15px;
  left: 20px;
}
/* line 241, ../sass/screen.scss */
.video .center-video .circle .video-triangle:hover {
  color: salmon;
}

/* line 248, ../sass/screen.scss */
.expertise {
  text-align: center;
}
/* line 250, ../sass/screen.scss */
.expertise h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  margin-top: 120px;
  display: inline-block;
}
/* line 259, ../sass/screen.scss */
.expertise h3 {
  font-size: 1.4rem;
  margin: 20px;
  color: #463a77;
}

@media (max-width: 700px) {
  /* line 266, ../sass/screen.scss */
  .row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  /* line 272, ../sass/screen.scss */
  .col-md-6 {
    width: 100%;
  }
}
@media (max-width: 900px) {
  /* line 277, ../sass/screen.scss */
  #logo {
    margin-left: 0;
  }
}
@media only screen and (min-width: 320px) {
  /* line 285, ../sass/screen.scss */
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* line 293, ../sass/screen.scss */
  .container {
    margin-left: 10%;
    margin-right: 10%;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* line 301, ../sass/screen.scss */
  .container {
    margin-left: 12%;
    margin-right: 12%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* line 309, ../sass/screen.scss */
  .container {
    margin-left: 14%;
    margin-right: 14%;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* line 317, ../sass/screen.scss */
  .container {
    margin-left: 15%;
    margin-right: 15%;
  }
}
/* line 322, ../sass/screen.scss */
.team {
  text-align: center;
}
/* line 324, ../sass/screen.scss */
.team h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 80px;
  display: inline-block;
}
/* line 333, ../sass/screen.scss */
.team h3 {
  font-size: 1.4rem;
  margin: 20px;
  color: #FFFFFF;
}

/* line 340, ../sass/screen.scss */
.team-wrap {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

/* line 346, ../sass/screen.scss */
.team-bg {
  background: url("../img/bg-2.jpg") repeat-y;
  text-align: center;
}
/* line 350, ../sass/screen.scss */
.team-bg .cta {
  color: #FFFFFF;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 70px;
}
/* line 358, ../sass/screen.scss */
.team-bg button {
  margin-top: 30px;
}

/* line 362, ../sass/screen.scss */
.team-member {
  width: 220px;
  height: 280px;
  border: solid #a09fa9 1px;
  margin-bottom: 10px;
  margin: 10px;
  text-align: center;
}
/* line 369, ../sass/screen.scss */
.team-member h2 {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 10px;
}
/* line 379, ../sass/screen.scss */
.team-member h3 {
  color: #a09fa9;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  margin-top: 10px;
}
/* line 386, ../sass/screen.scss */
.team-member .foto {
  background-color: #FFFFFF;
  width: 220px;
  height: 220px;
}

/* line 392, ../sass/screen.scss */
.btn {
  padding: 15px;
  border: 2px #00e0d0 solid;
  border-radius: 2px;
  font: bold 1.6rem Arial;
  text-transform: uppercase;
  color: #2497A3;
  display: inline-block;
  background-color: transparent;
  margin: 2.0rem auto 7.0rem auto;
}
/* line 403, ../sass/screen.scss */
.btn:hover {
  border: 2px salmon solid;
  color: salmon;
  box-sizing: border-box;
  cursor: pointer;
}

/* line 411, ../sass/screen.scss */
.works {
  text-align: center;
}

/* line 414, ../sass/screen.scss */
.works p {
  font-family: "Playfair Display", serif;
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 70px;
  display: inline-block;
}

/* line 422, ../sass/screen.scss */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 427, ../sass/screen.scss */
.gallery .image {
  width: 270px;
  height: 200px;
  background-color: salmon;
  margin: 5px;
}
/* line 433, ../sass/screen.scss */
.gallery .image2 {
  background-color: lightblue;
  width: 270px;
  height: 200px;
  margin: 5px;
}

/* line 439, ../sass/screen.scss */
.image3 {
  background-color: green;
  width: 270px;
  height: 200px;
  margin: 5px;
}

/* line 447, ../sass/screen.scss */
.container .inputs {
  display: flex;
  flex-wrap: row;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 454, ../sass/screen.scss */
.testimonials {
  background: url("../img/bg-3.jpg") repeat-Y;
  background-position: center fixed;
  text-align: center;
  line-height: 30px;
  color: #FFFFFF;
  min-height: 400px;
  box-sizing: content-box;
}
/* line 462, ../sass/screen.scss */
.testimonials .container {
  padding-top: 80px;
}
/* line 465, ../sass/screen.scss */
.testimonials p {
  margin-bottom: 4.0rem;
}
/* line 468, ../sass/screen.scss */
.testimonials h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 2.2rem;
}
/* line 476, ../sass/screen.scss */
.testimonials h3 {
  color: #b1a8d5;
  text-transform: uppercase;
  font-size: 1.4rem;
}

/* line 490, ../sass/screen.scss */
.inputs h2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 901px) {
  /* line 500, ../sass/screen.scss */
  .inputs {
    flex-direction: column;
  }

  /* line 502, ../sass/screen.scss */
  .clients {
    flex-direction: row;
    display: flex;
  }
}
/* line 510, ../sass/screen.scss */
input#text-area {
  height: 200px;
}

/* line 514, ../sass/screen.scss */
form input {
  margin-top: 20px;
  height: 30px;
  max-width: 270px;
}

/* line 521, ../sass/screen.scss */
.clients {
  font-size: 1.7rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 530, ../sass/screen.scss */
.clients div {
  color: #FFFFFF;
  background-color: cornflowerblue;
  width: 200px;
  height: 150px;
  font-size: 2.0rem;
  box-sizing: border-box;
  margin: 10px;
  line-height: 150px;
  text-align: center;
}
/* line 540, ../sass/screen.scss */
.clients div p {
  line-height: 150px;
  font-family: "Roboto", sans-serif;
}

/* line 546, ../sass/screen.scss */
footer {
  background: url("../img/bg-4.jpg") repeat-y;
  color: #FFFFFF;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  padding-bottom: 20px;
}
/* line 556, ../sass/screen.scss */
footer div {
  width: 30%;
}
/* line 560, ../sass/screen.scss */
footer article {
  margin-top: 9.2rem;
}
/* line 562, ../sass/screen.scss */
footer article #logo {
  position: relative;
  margin-left: 60px;
  bottom: 45px;
  text-transform: none;
  font-size: 3.0rem;
  font-family: "Roboto", sans-serif;
  color: #2497A3;
  margin-top: 36px;
}
/* line 573, ../sass/screen.scss */
footer article .logo2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  margin-bottom: 20px;
}
/* line 580, ../sass/screen.scss */
footer article input {
  height: 30px;
  background-color: #FFFFFF;
  color: #9d97af;
  height: 45px;
}
/* line 588, ../sass/screen.scss */
footer article button {
  width: 71px;
  height: 45px;
  background-color: #a099b3;
  color: #322955;
  margin-left: 10px;
  border: 0px;
  position: relative;
  top: 3px;
  padding-left: 17px;
}
/* line 604, ../sass/screen.scss */
footer p {
  margin-bottom: 4.1rem;
  margin-right: 30px;
  max-width: 300px;
}
/* line 609, ../sass/screen.scss */
footer img {
  float: left;
  display: block;
  margin-right: 15px;
  margin-top: -9px;
}

@media (max-width: 946px) {
  /* line 619, ../sass/screen.scss */
  footer {
    flex-direction: column;
    -webkit-flex-direction: row;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding-left: 4%;
    padding-right: 10%;
  }
  /* line 631, ../sass/screen.scss */
  footer p {
    margin-bottom: 0px;
  }
  /* line 636, ../sass/screen.scss */
  footer h2 {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 740px) {
  /* line 644, ../sass/screen.scss */
  header {
    position: absolute;
  }

  /* line 647, ../sass/screen.scss */
  #menu-icon {
    display: inline-block;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    position: absolute;
  }

  /* line 655, ../sass/screen.scss */
  nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 20px;
    right: 0px;
    top: 80px;
    width: 100%;
    background-color: #322955;
  }

  /* line 664, ../sass/screen.scss */
  nav ul a {
    color: #FFFFFF;
  }

  /* line 668, ../sass/screen.scss */
  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }
}
