/*RESET*/
/* line 2, ../sass/screen.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 2, ../sass/screen.scss */
body {
  line-height: 1;
}

/* line 2, ../sass/screen.scss */
ol, ul {
  list-style: none;
}

/* line 2, ../sass/screen.scss */
blockquote, q {
  quotes: none;
}

/* line 2, ../sass/screen.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 2, ../sass/screen.scss */
:focus {
  outline: 0;
}

/* line 2, ../sass/screen.scss */
ins {
  text-decoration: none;
}

/* line 2, ../sass/screen.scss */
del {
  text-decoration: line-through;
}

/* line 2, ../sass/screen.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 9, ../sass/screen.scss */
.box-shadow-menu {
  position: relative;
}
/* line 11, ../sass/screen.scss */
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.48em;
  width: 2em;
  height: 0.35em;
  background: white;
  box-shadow: 0 0.6em 0 0 white, 0 1.2em 0 0 white;
}

/* line 24, ../sass/screen.scss */
html {
  font-size: 62.5%;
}

/* line 30, ../sass/screen.scss */
body a {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 36, ../sass/screen.scss */
body a:hover {
  text-decoration: underline;
}
/* line 42, ../sass/screen.scss */
body header {
  width: 100%;
  height: 76px;
  position: fixed;
  border-bottom: 4px solid magenta;
  z-index: 100;
  background-color: #322955;
}
/* line 51, ../sass/screen.scss */
body header h1 {
  position: relative;
  margin-left: 60px;
  bottom: 45px;
  text-transform: none;
  font-size: 3.0rem;
  font-family: "Roboto", sans-serif;
  color: #2497A3;
}
/* line 60, ../sass/screen.scss */
body header #logo {
  margin-top: 16px;
  float: left;
  height: 40px;
  display: block;
  background-image: url("img/logo.png");
}

/* line 70, ../sass/screen.scss */
nav {
  float: right;
  padding: 20px;
}

/* line 74, ../sass/screen.scss */
#menu-icon {
  display: none;
}

/* line 77, ../sass/screen.scss */
a:hover#menu-icon {
  background-color: #444;
  border-radius: 4px 4px 0 0;
}

/* line 81, ../sass/screen.scss */
ul {
  list-style: none;
}

/* line 85, ../sass/screen.scss */
li {
  display: inline-block;
  float: left;
  padding: 10px;
}

/* line 90, ../sass/screen.scss */
.current {
  color: #2262AD;
}

/* line 93, ../sass/screen.scss */
section {
  margin: 80px auto 40px;
  max-width: 980px;
  position: relative;
  paddding: 20px;
}

@media only screen and (max-width: 740px) {
  /* line 103, ../sass/screen.scss */
  header {
    position: absolute;
  }

  /* line 106, ../sass/screen.scss */
  #menu-icon {
    display: inline-block;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    position: absolute;
  }

  /* line 114, ../sass/screen.scss */
  nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 20px;
    right: 0px;
    top: 80px;
    width: 100%;
    background-color: #322955;
  }

  /* line 123, ../sass/screen.scss */
  nav ul a {
    color: white;
  }

  /* ustawienie listy */
  /* line 127, ../sass/screen.scss */
  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }

  /*	nav:hover ul {
  		display: block;
  	} */
}
/* koniec nav */
/* line 139, ../sass/screen.scss */
.open {
  display: block;
}

/* line 142, ../sass/screen.scss */
.intro {
  color: white;
  background: url("../img/bg-1.jpg") no-repeat;
  text-align: center;
}
/* line 148, ../sass/screen.scss */
.intro h2 {
  font-size: 3.2rem;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  margin-top: 120px;
  font-family: "Playfair Display", serif;
  line-height: 3.9rem;
}
/* line 159, ../sass/screen.scss */
.intro p {
  margin-top: 61px;
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  line-height: 2.4rem;
  max-width: 90rem;
}
/* line 166, ../sass/screen.scss */
.intro button {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 225px;
}

/* line 173, ../sass/screen.scss */
hr {
  width: 30%;
  color: #00e0d0;
}

/* line 178, ../sass/screen.scss */
.ourstory {
  background-color: white;
  padding: 20px;
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;
  display: -webkit-flex;
  display: flex;
}
/* line 185, ../sass/screen.scss */
.ourstory h2 {
  font-size: 2.2rem;
  font-family: "Playfair Display", serif;
  color: black;
}
/* line 192, ../sass/screen.scss */
.ourstory p {
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  line-height: 2.4rem;
  color: "#413d4b";
  margin-top: 20px;
}

/* line 201, ../sass/screen.scss */
.whatwedo {
  margin-bottom: 30px;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  text-align: center;
}
/* line 210, ../sass/screen.scss */
.whatwedo article {
  border: solid 2px lightblue;
  width: 225px;
  padding: 3px;
  margin: 10px;
}
/* line 217, ../sass/screen.scss */
.whatwedo h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  margin-bottom: 2.2rem;
}
/* line 222, ../sass/screen.scss */
.whatwedo p {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

/* line 229, ../sass/screen.scss */
.awesome-picture {
  max-width: 220px;
  max-height: 220px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 237, ../sass/screen.scss */
.row {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

/* line 243, ../sass/screen.scss */
.col-md-6 {
  width: 50%;
}

/* line 247, ../sass/screen.scss */
.video {
  background-color: red;
  background-image: url("../img/nj.jpg");
  background-repeat: no-repeat;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 255, ../sass/screen.scss */
.video .center-video {
  max-width: 50%;
}
/* line 258, ../sass/screen.scss */
.video .center-video .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: solid white 5px;
  box-sizing: border-box;
}
/* line 268, ../sass/screen.scss */
.video .center-video .circle .video-triangle {
  font-size: 60px;
  color: white;
  position: relative;
  top: 15px;
  left: 20px;
}

/* line 278, ../sass/screen.scss */
.expertise {
  text-align: center;
}
/* line 280, ../sass/screen.scss */
.expertise h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 2.2rem;
  color: black;
  text-transform: uppercase;
  margin-top: 120px;
  display: inline-block;
}
/* line 289, ../sass/screen.scss */
.expertise h3 {
  font-size: 1.4rem;
  margin: 20px;
  color: #463a77;
}

@media (max-width: 700px) {
  /* line 298, ../sass/screen.scss */
  .row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  /* line 304, ../sass/screen.scss */
  .col-md-6 {
    width: 100%;
  }
}
@media (max-width: 900px) {
  /* line 309, ../sass/screen.scss */
  #logo {
    margin-left: 0;
  }
}
@media only screen and (min-width: 320px) {
  /* line 316, ../sass/screen.scss */
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* line 324, ../sass/screen.scss */
  .container {
    margin-left: 10%;
    margin-right: 10%;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* line 332, ../sass/screen.scss */
  .container {
    margin-left: 12%;
    margin-right: 12%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* line 340, ../sass/screen.scss */
  .container {
    margin-left: 14%;
    margin-right: 14%;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* line 348, ../sass/screen.scss */
  .container {
    margin-left: 15%;
    margin-right: 15%;
  }
}
