/*RESET*/
/* line 2, ../sass/screen.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 2, ../sass/screen.scss */
body {
  line-height: 1;
}

/* line 2, ../sass/screen.scss */
ol, ul {
  list-style: none;
}

/* line 2, ../sass/screen.scss */
blockquote, q {
  quotes: none;
}

/* line 2, ../sass/screen.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 2, ../sass/screen.scss */
:focus {
  outline: 0;
}

/* line 2, ../sass/screen.scss */
ins {
  text-decoration: none;
}

/* line 2, ../sass/screen.scss */
del {
  text-decoration: line-through;
}

/* line 2, ../sass/screen.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, ../sass/screen.scss */
html {
  box-sizing: border-box;
}

/* line 13, ../sass/screen.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 16, ../sass/screen.scss */
html {
  font-size: 62.5%;
}

/* line 19, ../sass/screen.scss */
p {
  font: 1.6rem "Roboto", sans-serif;
  line-height: 2.4rem;
}

/* line 23, ../sass/screen.scss */
.header-wrapper {
  padding: 0 8%;
}

/* line 26, ../sass/screen.scss */
h2 {
  font: bold 2.2rem "Playfair Display", serif;
}

/* line 29, ../sass/screen.scss */
a {
  font-size: 1.5rem;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 35, ../sass/screen.scss */
header {
  width: 100%;
  height: 76px;
  position: fixed;
  border-bottom: 4px solid #2497A3;
  z-index: 100;
  background-color: #322955;
}
/* line 42, ../sass/screen.scss */
header img {
  float: left;
  display: inline;
  margin: 10px 0 0 30px;
}
/* line 47, ../sass/screen.scss */
header h1 {
  font: bold 3rem "Roboto", sans-serif;
  color: #2497A3;
  text-transform: lowercase;
  margin: 10px 0 0 10px;
}
/* line 53, ../sass/screen.scss */
header a:hover, header a:active {
  text-decoration: none;
}

/*----- Toggle Button -----*/
/* line 58, ../sass/screen.scss */
.toggle-nav {
  display: none;
}

/*----- Menu -----*/
/* line 62, ../sass/screen.scss */
.menu li {
  margin-right: 50px;
  float: left;
  list-style: none;
  font-size: 1.7rem;
}

/* line 69, ../sass/screen.scss */
.menu li:last-child {
  margin-right: 0px;
}

/* line 72, ../sass/screen.scss */
.menu a {
  color: #FFFFFF;
  transition: color linear 0.15s;
}

/* line 77, ../sass/screen.scss */
.menu a:hover, .menu .current-item a {
  text-decoration: none;
  color: #66a992;
}

/*----- Search -----*/
/* line 83, ../sass/screen.scss */
.search-form {
  float: right;
  display: inline-block;
}

/* line 88, ../sass/screen.scss */
.search-form input {
  width: 200px;
  height: 30px;
  padding: 0 8px;
  float: left;
  border-radius: 2px 0 0 2px;
  font-size: 13px;
}

/* line 96, ../sass/screen.scss */
.search-form button {
  height: 30px;
  padding: 0 7px;
  float: right;
  border-radius: 0 2px 2px 0;
  background: #66a992;
  font-size: 13px;
  font-weight: 600;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
}

/* line 107, ../sass/screen.scss */
.page-logo {
  margin-left: 50px;
}

/* line 110, ../sass/screen.scss */
li {
  float: left;
}

/* line 114, ../sass/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 118, ../sass/screen.scss */
nav ul {
  margin: -30px 30px 0 0;
  float: right;
}

/* line 122, ../sass/screen.scss */
.intro {
  color: #FFFFFF;
  background: url("../img/bg-1.jpg") no-repeat center center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 120px 8% 0;
}
/* line 129, ../sass/screen.scss */
.intro h2 {
  margin: 0 auto;
  display: inline-block;
  line-height: 3.9rem;
  font: 3.2rem "Playfair Display", serif;
}
/* line 135, ../sass/screen.scss */
.intro p {
  line-height: 2.4rem;
  max-width: 90rem;
  margin: 61px auto 0;
}

/* line 141, ../sass/screen.scss */
hr {
  width: 30%;
  color: #2497A3;
}

/* line 145, ../sass/screen.scss */
.ourstory {
  background-color: #FFFFFF;
  display: flex;
  padding: 10.5rem 8% 0;
}
/* line 149, ../sass/screen.scss */
.ourstory h2 {
  font-family: "Playfair Display", serif;
  color: black;
  margin: 0 auto;
}
/* line 154, ../sass/screen.scss */
.ourstory p {
  color: #413d4b;
  margin-top: 20px;
}
/* line 158, ../sass/screen.scss */
.ourstory img {
  width: 50%;
  height: auto;
  margin-bottom: 40px;
}

/* line 164, ../sass/screen.scss */
.whatwedo {
  margin-bottom: 30px;
  box-sizing: content-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  text-align: center;
}
/* line 172, ../sass/screen.scss */
.whatwedo article {
  border: solid 2px lightblue;
  max-width: 225px;
  padding: 12px;
  margin: 10px;
}
/* line 178, ../sass/screen.scss */
.whatwedo h2 {
  font: bold 1.4rem "Roboto", sans-serif;
  margin-bottom: 2.2rem;
}
/* line 182, ../sass/screen.scss */
.whatwedo p {
  margin-bottom: 30px;
}

/* line 186, ../sass/screen.scss */
.awesome-picture {
  max-width: 220px;
  max-height: 220px;
  margin: 0 auto;
  display: block;
}

/* line 192, ../sass/screen.scss */
.col-md-6 {
  width: 50%;
}

/* line 195, ../sass/screen.scss */
.video {
  background: url("../img/nj.jpg") no-repeat center center;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 201, ../sass/screen.scss */
.video .center-video {
  max-width: 50%;
}
/* line 203, ../sass/screen.scss */
.video .center-video .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid white 5px;
  box-sizing: border-box;
}
/* line 209, ../sass/screen.scss */
.video .center-video .circle:hover {
  box-shadow: 3px 3px 1px black;
}
/* line 212, ../sass/screen.scss */
.video .center-video .circle .video-triangle {
  font-size: 60px;
  color: #FFFFFF;
  position: relative;
  top: 15px;
  left: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
/* line 220, ../sass/screen.scss */
.video .center-video .circle .video-triangle:hover {
  color: salmon;
}

/* line 227, ../sass/screen.scss */
.expertise {
  text-align: center;
}
/* line 229, ../sass/screen.scss */
.expertise h2 {
  font: bold "Playfair Display", serif;
  color: black;
  text-transform: uppercase;
  margin-top: 120px;
  display: inline-block;
}
/* line 236, ../sass/screen.scss */
.expertise h3 {
  font-size: 1.4rem;
  margin: 20px;
  color: #463a77;
}

@media (max-width: 700px) {
  /* line 243, ../sass/screen.scss */
  .row {
    display: flex;
    flex-direction: column;
  }

  /* line 247, ../sass/screen.scss */
  .col-md-6 {
    width: 100%;
  }
}
@media (max-width: 900px) {
  /* line 252, ../sass/screen.scss */
  #logo {
    margin-left: 0;
  }
}
@media only screen and (min-width: 320px) {
  /* line 257, ../sass/screen.scss */
  .container {
    margin: 0 5%;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* line 263, ../sass/screen.scss */
  .container {
    margin: 0 10%;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* line 269, ../sass/screen.scss */
  .container {
    margin: 0 12%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* line 275, ../sass/screen.scss */
  .container {
    margin: 0 14%;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* line 281, ../sass/screen.scss */
  .container {
    margin: 0 15%;
  }
}
/* line 285, ../sass/screen.scss */
.team-bg {
  background: url("../img/bg-2.jpg") center center no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 3.5rem;
}
/* line 291, ../sass/screen.scss */
.team-bg h2 {
  font: bold "Playfair Display", serif;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 80px;
  display: inline-block;
}
/* line 298, ../sass/screen.scss */
.team-bg h3 {
  font-size: 1.4rem;
  margin: 20px;
  color: #FFFFFF;
}

/* line 304, ../sass/screen.scss */
.team-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* line 311, ../sass/screen.scss */
.cta {
  color: #FFFFFF;
  font-size: 1.4rem;
  text-align: center;
}
/* line 316, ../sass/screen.scss */
.cta button {
  margin-top: 30px;
}

/* line 320, ../sass/screen.scss */
.team-member {
  width: 220px;
  height: 280px;
  border: solid #a09fa9 1px;
  margin: 10px;
  text-align: center;
}
/* line 327, ../sass/screen.scss */
.team-member h2 {
  color: #FFFFFF;
  font: bold 1.4rem "Roboto", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 10px;
}
/* line 334, ../sass/screen.scss */
.team-member h3 {
  color: #a09fa9;
  font: 1.3rem "Roboto", sans-serif;
  margin-top: 10px;
}
/* line 339, ../sass/screen.scss */
.team-member .foto {
  background-color: #FFFFFF;
  width: 220px;
  height: 220px;
}

/* line 345, ../sass/screen.scss */
.btn {
  padding: 15px;
  border: 4px #00e0d0 solid;
  border-radius: 2px;
  font: bold 1.6rem Arial;
  text-transform: uppercase;
  color: #2497A3;
  display: inline-block;
  background-color: transparent;
  margin: 2.0rem auto 7.0rem auto;
  transition: 0.5s ease;
}
/* line 356, ../sass/screen.scss */
.btn:hover {
  border: 4px salmon solid;
  color: salmon;
  box-sizing: border-box;
  cursor: pointer;
}

/* line 363, ../sass/screen.scss */
.works {
  text-align: center;
}

/* line 366, ../sass/screen.scss */
.works p {
  font: bold 2.2rem "Playfair Display", serif;
  margin: 110px 0 70px 0;
  display: inline-block;
}

/* line 371, ../sass/screen.scss */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 375, ../sass/screen.scss */
.gallery .image {
  width: 270px;
  height: 200px;
  border: 5px solid grey;
  margin: 5px;
}

/* line 384, ../sass/screen.scss */
.container .inputs {
  flex-flow: row wrap;
  display: flex;
}

/* line 389, ../sass/screen.scss */
.testimonials {
  background: url("../img/bg-3.jpg") repeat-Y center center scroll;
  text-align: center;
  line-height: 30px;
  color: #FFFFFF;
  min-height: 400px;
  box-sizing: border-box;
}
/* line 396, ../sass/screen.scss */
.testimonials .container {
  padding-top: 80px;
}
/* line 399, ../sass/screen.scss */
.testimonials p {
  margin-bottom: 4.0rem;
}
/* line 402, ../sass/screen.scss */
.testimonials h2 {
  font: 2.2rem "Playfair Display", serif;
  text-transform: uppercase;
  margin-bottom: 30px;
}
/* line 407, ../sass/screen.scss */
.testimonials h3 {
  color: #b1a8d5;
  text-transform: uppercase;
  font-size: 1.4rem;
}

/* line 415, ../sass/screen.scss */
.inputs h2 {
  margin: 40px 0;
}

@media (max-width: 901px) {
  /* line 420, ../sass/screen.scss */
  .inputs {
    flex-direction: column;
  }

  /* line 423, ../sass/screen.scss */
  .clients {
    flex-direction: row;
    display: flex;
  }
}
/* line 428, ../sass/screen.scss */
input#text-area {
  height: 200px;
}

/* line 431, ../sass/screen.scss */
form input {
  margin-top: 20px;
  height: 30px;
  max-width: 270px;
}

/* line 436, ../sass/screen.scss */
.clients {
  font-size: 1.7rem;
  display: flex;
  flex-flow: row wrap;
}

/* line 441, ../sass/screen.scss */
.clients figure {
  color: #FFFFFF;
  width: 200px;
  height: 150px;
  font-size: 2.0rem;
  box-sizing: border-box;
  margin: 10px;
  border: 5px solid grey;
  background-size: cover;
  line-height: 150px;
  text-align: center;
}
/* line 452, ../sass/screen.scss */
.clients figure p {
  line-height: 150px;
  font-family: "Roboto", sans-serif;
}

/* line 457, ../sass/screen.scss */
footer {
  background: url("../img/bg-4.jpg") center center local;
  background-size: cover;
  color: #FFFFFF;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 70px;
}
/* line 466, ../sass/screen.scss */
footer div {
  width: 30%;
}
/* line 469, ../sass/screen.scss */
footer article {
  margin-top: 90px;
}
/* line 472, ../sass/screen.scss */
footer article #logo {
  position: relative;
  bottom: 45px;
  text-transform: none;
  font: 3rem "Roboto", sans-serif;
  text-decoration: none;
  margin: 36px 0 0 0;
  color: #2497A3;
}
/* line 482, ../sass/screen.scss */
footer article .logo2 {
  font: 1.5rem "Roboto", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
}
/* line 488, ../sass/screen.scss */
footer article input {
  height: 30px;
  background-color: #FFFFFF;
  color: #9d97af;
  height: 45px;
}
/* line 494, ../sass/screen.scss */
footer article button {
  width: 71px;
  height: 45px;
  background-color: #a099b3;
  color: #322955;
  margin-left: 10px;
  border: 0;
  padding-left: 17px;
  position: relative;
  display: inline;
  top: -45px;
  left: 155px;
}
/* line 509, ../sass/screen.scss */
footer p {
  margin-right: 30px;
  max-width: 300px;
}
/* line 513, ../sass/screen.scss */
footer img {
  float: left;
  display: block;
  margin: -9px 15px 0 0;
}

@media (max-width: 946px) {
  /* line 520, ../sass/screen.scss */
  footer {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4% 0 10%;
  }
  /* line 525, ../sass/screen.scss */
  footer p {
    margin-bottom: 0;
  }
  /* line 528, ../sass/screen.scss */
  footer h2 {
    margin-top: 0;
  }
}
@media screen and (max-width: 1150px) {
  /* line 534, ../sass/screen.scss */
  .wrap {
    width: 100%;
  }
}
@media screen and (max-width: 970px) {
  /* line 540, ../sass/screen.scss */
  .search-form input {
    width: 120px;
  }
}
@media screen and (max-width: 860px) {
  /* line 545, ../sass/screen.scss */
  header {
    padding-left: 0;
  }

  /* line 549, ../sass/screen.scss */
  .menu {
    position: relative;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  /* line 556, ../sass/screen.scss */
  .menu ul.active {
    display: none;
  }

  /* line 559, ../sass/screen.scss */
  .menu ul {
    float: right;
    margin: -40px auto 0 auto;
    width: 100%;
    text-align: center;
    position: relative;
    left: 0;
    padding-bottom: 20px;
    background: #322955;
    display: inline-block;
  }

  /* line 571, ../sass/screen.scss */
  .menu ul:after {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    content: '';
    transform: translate(0%, -100%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #303030;
  }

  /* line 585, ../sass/screen.scss */
  .menu li {
    margin: 20px 0 5px 0;
    float: none;
    display: block;
  }

  /* line 590, ../sass/screen.scss */
  .menu a {
    display: block;
    color: white;
  }

  /* line 595, ../sass/screen.scss */
  .toggle-nav {
    padding: 20px;
    float: right;
    display: inline-block;
    border-radius: 3px;
    color: #777;
    font-size: 20px;
    transition: color linear 0.15s;
    position: relative;
    top: -50px;
  }

  /* line 607, ../sass/screen.scss */
  .toggle-nav:hover, .toggle-nav.active {
    text-decoration: none;
    color: #66a992;
  }

  /* line 612, ../sass/screen.scss */
  .search-form {
    margin: 12px 0 0 20px;
    float: left;
  }

  /* line 617, ../sass/screen.scss */
  .search-form input {
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
  }
}
